.idea/
back/
data/glove.6B.50d.txt
data/glove.6B.300d.txt
data/glove.6B
data/glove.6B.zip
results/
files/
speeches/
/data/test_sent_clusters.csv
/data/test_sent_table.csv
/data/test_count_matrix.csv
src/.Rhistory
